@model List<Customer>
{
<h2>Customers List</h2>
<table>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Email</td>
            <td>@customer.Phone</td>
        </tr>
    }
</table>
}
